################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InsuranceCompany/.vs/InsuranceCompany/v16
